div.main-container {
  width: 100%;
  height: auto;
  background-image: url('http://127.0.0.1:8000/images/fondo-pag-speciali.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;

  h3 {
    margin: 40px auto 15px;
  }

  div.long,
  div.short,
  div.shorter {
    display: flex;
    flex-flow: row wrap;
    padding: 0 150px;

    div.img {
      width: 20%;
      min-width: 150px;
      height: auto;
      margin: 5px;

      img {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
      }
    }
  }
}
